.BookBox {
    display: flex; 
    flex-direction: column; 
    width: calc(100% - 100px);
    margin-inline: 30px;
    padding: 20px;
    max-width: 600px;
    background: #fff;
    border-radius: 16px;
    font-family: Nunito;
    font-size: 16px;
    margin-top: 60px;
}

.BookBox > a {
    margin: 10px 0;
    color:#3064b6;
}

.BookBox > h1 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.BookBox > h2 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.BookBox > p {
    margin-bottom: 10px;
}

.BookBox > p > span {
    margin-right: 10px;
    font-size: 14px;
    color:rgb(88, 88, 91);
    letter-spacing: 0.3px;
}

.BookBox > p > span:nth-child(2n) {
    font-weight: 600;
    color: black;
}

.BookBox > a {
    margin-top: 20px;
    padding: 10px 20px;
    background: rgb(30, 94, 255);
    font-weight: 600;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
}

.BookBox > button {
    padding: 10px 20px;
    background: rgb(216, 0, 0);
    font-weight: 600;
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
}